extends ./layout/index

block contenido

    main.container.mt-5
        .row.mb-5
            .col-md-12
                h1.d-block.w-100.text-center Editar Habitacion #{habitacion.id_hbt}

                if(errores)
                    each error in errores 
                        .alert.col.alert-danger.text-center= error.mensaje 

            .row.justify-content-center.col
                .col-md-8
                    form(action="/habitaciones/editar", method="POST")
                        .form-group 
                            label(for="id_hbt") ID Habitacion 
                            input#id_hbt(type="text", placeholder= habitacion.id_hbt, name="id_hbt", class="form-control", readonly value= habitacion.id_hbt)
                        .form-group
                            label(for="id_htl") Hotel 
                            select(name="id_htl" class="form-control")
                                each hotel in hoteles
                                    option(value= hotel.id_htl) #{hotel.nombre}
                        .form-group
                            label(for="piso") Piso 
                            input#piso(type="text", placeholder= habitacion.piso, name="piso", class="form-control", value= piso)  
                        .form-group 
                            label(for="nombre") Nombre 
                            input#nombre(type="text", placeholder= habitacion.nombre, name="nombre", class="form-control", value= nombre)
                        .form-group 
                            label(for="refrigerador") Refrigerador
                            input#refrigerador(type="checkbox", name="refrigerador", class="form-control")
                        input.btn.btn-success.btn-block(type="submit", value="Guardar Habitación")
