extends ./layout/index

block contenido

    main.container.mt-5
        .row.mb-5
            .col-md-12
                h1.d-block.w-100.text-center Agrega una Habitaci贸n

                if(errores)
                    each error in errores 
                        .alert.col.alert-danger.text-center= error.mensaje 

            .row.justify-content-center.col
                .col-md-8
                    form(action="/habitaciones", method="POST")
                        .form-group
                            label(for="id_htl") Hotel 
                            select(name="id_htl" class="form-control")
                                each hotel in hoteles
                                    option(value= hotel.id_htl) #{hotel.nombre}
                        .form-group 
                            label(for="nombre") Nombre
                            input#nombre(type="text", placeholder="Nombre Habitaci贸n", name="nombre", class="form-control", value= nombre)
                        .form-group
                            label(for="piso") Piso
                            input#piso(type="text", placeholder="Piso Habitaci贸n", name="piso", class="form-control", value= piso)
                        .form-group 
                            label(for="refrigerador") Refrigerador
                            input#refrigerador(type="checkbox", name="refrigerador", class="form-control")
                        .form-group
                            input.btn.btn-success.btn-block(type="submit", value="Guardar Habitaci贸n")

        h1(class="mt-5 pb-5 text-center") #{pagina}
        include ./layout/bloque_habitaciones