extends ./layout/index

block slider
    .slider
        h1 Tu Aventura Comienza Aquí
        em Zacatlán Puebla

block contenido
    main.container.w-80.mt-5
        h1.text-center Un lugar lleno de magia
        #carouselExample.carousel.slide(data-ride='carousel' data-interval='3000')
            ol.carousel-indicators
                li.active(data-target='#carouselExample' data-slide-to='0')
                li(data-target='#carouselExample' data-slide-to='1')
                li(data-target='#carouselExample' data-slide-to='2')
                li(data-target='#carouselExample' data-slide-to='3')
                li(data-target='#carouselExample' data-slide-to='4')
            .carousel-inner
                .carousel-item.active
                    img.d-block.w-100(src='./img/carrusel/zacatlan-galeria-01.jpg' alt='...')
                .carousel-item
                    img.d-block.w-100(src='./img/carrusel/zacatlan-galeria-02.jpg' alt='...')
                .carousel-item
                    img.d-block.w-100(src='./img/carrusel/zacatlan-galeria-03.jpg' alt='...')
                .carousel-item
                    img.d-block.w-100(src='./img/carrusel/zacatlan-galeria-04.jpg' alt='...')
                .carousel-item
                    img.d-block.w-100(src='./img/carrusel/zacatlan-galeria-05.jpg' alt='...')
            a.carousel-control-prev(href='#carouselExample' role='button' data-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.visually-hidden Anterior
            a.carousel-control-next(href='#carouselExample' role='button' data-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.visually-hidden Siguiente
    .container.mt-5
        h1.text-center.mb-5 Zacatlán
        .row.mb-5
            .col-md-6
                p Entrar a este Pueblo Mágico es llegar a un mundo distinto, se percibe niebla y frío, como si alguien hubiera levantado la comunidad entera hasta las nubes. Por las tardes rápidamente las calles se llenan de niebla y no es posible verse ni la punta de la nariz. Sin duda, este milagro es sugestivo y atrayente. 
                p Una vez que clarea el día podrás ver un enorme y colorido reloj floral en el Centro Histórico, el cual marca el ritmo de vida de este pueblo de encanto.
            .col-md-6
                img(src="/img/inicio_acerca.jpg", alt="imagen acerca", class="img-fluid")
                footer.blockquote-footer
                    | Puesta de sol en la Barranca de los Jilgueros de Zacatlán, Puebla.
    .container.mt-5.w-80
        h1.text-center.mb-5 Actividades 
            .row 
                .col-sm-4.mb-4 
                    .card
                        img.card-img-top.img-fluid.d-block.w-100(src="./img/inicio/actividades/relojeria.jpeg")
                        .card-body
                            h4.text-center Museo de Relojería
                .col-sm-4.mb-4  
                    .card
                        img.card-img-top.img-fluid.d-block.w-100(src="./img/inicio/actividades/museo.jpeg")
                        .card-body
                            h4.text-center Museo Zacatlán
                .col-sm-4.mb-4 
                    .card
                        img.card-img-top.img-fluid.d-block.w-100(src="./img/inicio/actividades/mirador.jpeg")
                        .card-body
                            h4.text-center Mirador de Cristal
                .col-sm-4.mb-4  
                    .card
                        img.card-img-top.img-fluid.d-block.w-100(src="./img/inicio/actividades/bodegas.jpg")
                        .card-body
                            h4.text-center Bodegas Delicia
                .col-sm-4.mb-4  
                    .card
                        img.card-img-top.img-fluid.d-block.w-100(src="./img/inicio/actividades/reloj.jpeg")
                        .card-body
                            h4.text-center Reloj Floral
                .col-sm-4.mb-4  
                    .card
                        img.card-img-top.img-fluid.d-block.w-100(src="./img/inicio/actividades/cascadas.jpg")
                        .card-body
                            h4.text-center Cascadas Túliman
    

        
    
    .container.mt-5.w-80
        .row.text-center
            .col-md-6.px-5.py-5 
                img.img-fluid(src="./img/iconos/que-comer.png", alt="")
                h2 ¿Qué comer?
                p El patrimonio gastronómico incluye platillos con productos de la región como conejo con chiltepín, carnes ahumadas y los ricos licores de fruta, por supuesto, no olvides probar la sidra.
            .col-md-6.px-5.py-5
                img.img-fluid(src="./img/iconos/que-llevar.png", alt="")
                h2 ¿Qué llevar?
                p Las manos mágicas de los artesanos de Zacatlán bordan prendas únicas, crean bellas piezas de totomoxtle y preparan conservas y productos a base de frutos que debes probar.
        